<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
    <title>Angular MadLibs</title>
</head>

<body>
    <header class="masthead">
        <section class="avatar-lib">
            <img class="img-face" src="img/mad-lib-happy-face.png"/>
        </section>

        <section class="title-lib">
            <img class="img-logo" src="img/ng-mad-libs-logo.png"/>
            <h1>Automate This!</h1>
        </section>
    </header>
    
    <div ng-controller="myCtrl">
        <section class="form-lib">
            <h2>Provide the following words:</h2>

            <form name="formLib">
                <div class="row">
                    <label>Gender: </label>
                    <input type="radio" id="femGen" value="female" ng-model="gender" ng-click="changeGenTxt()"/>
                    <label for="femGen">Female</label>
                    <input type="radio" id="maleGen" value="male" ng-model="gender" ng-click="changeGenTxt()"/>
                    <label for="maleGen">Male</label>
                </div>
                
                <div class="row">
                    <input type="text" placeholder="{{genName}} Name" ng-model="word.name" ng-disabled="showText" required/>
                    <input type="text" placeholder="Dirty Task" ng-model="word.dirty_task" ng-disabled="showText" required/>
                    <input type="text" placeholder="Obnoxious Celebrity" ng-model="word.obnoxiuous_celebrity" ng-disabled="showText" required/>
                </div>
                
                <div class="row">
                    <input type="text" placeholder="Job Title" ng-model="word.job_title" ng-disabled="showText" required/>
                    <input type="text" placeholder="Celebrity" ng-model="word.celebrity" ng-disabled="showText" required/>
                    <input type="text" placeholder="Huge Number" ng-model="word.huge_number" ng-disabled="showText" required/>
                </div>

                <div class="row">
                    <input type="text" placeholder="Tedious Task" ng-model="word.tedious_task" ng-disabled="showText" required/>
                    <input type="text" placeholder="Useless Skill" ng-model="word.useless_skill" ng-disabled="showText" required/>
                    <input type="text" placeholder="Adjective" ng-model="word.adjective" ng-disabled="showText" required/>
                </div>

                <div class="row">
                    <input type="button" value="Submit" ng-click="showText=true" ng-disabled="!formLib.$valid"
                       class="ph-button ph-btn-red"/>
                </div>

            </form>

        </section>

        <section class="text-lib">
            <p>
                <span ng-show="formLib.$valid && showText"><u>{{word.name}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>{{genName}} Name</u></span>
                was a 
                <span ng-show="formLib.$valid && showText"><u>{{word.job_title}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Job Title</u></span> 
                who loved technology. 
                Although {{sheOrHe}} loved parts of {{herOrHis}} job, {{sheOrHe}} absolutely hated  
                <span ng-show="formLib.$valid && showText"><u>{{word.tedious_task}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Tedious Task</u></span>
                and 
                <span ng-show="formLib.$valid && showText"><u>{{word.dirty_task}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Dirty Task</u></span>
                . So, 
                <span ng-show="formLib.$valid && showText"><u>{{word.name}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>{{genName}} Name</u></span>
                met with {{herOrHis}} life mentor 
                <span ng-show="formLib.$valid && showText"><u>{{word.celebrity}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Celebrity</u></span> 
                who told {{herOrHim}} to learn how to 
                <span ng-show="formLib.$valid && showText"><u>{{word.useless_skill}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Useless Skill</u></span> 
                with Thinkful. Thinkful didn't offer a course on 
                <span ng-show="formLib.$valid && showText"><u>{{word.useless_skill}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Useless Skill</u></span> 
                so {{sheOrHe}} studied programming instead.
            </p>
            <p>
                What a great decision! With {{herOrHis}} new skills, 
                <span ng-show="formLib.$valid && showText"><u>{{word.name}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>{{genName}} Name</u></span>
                built a(n) 
                <span ng-show="formLib.$valid && showText"><u>{{word.adjective}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Adjective</u></span> 
                robot named 
                <span ng-show="formLib.$valid && showText"><u>{{word.obnoxiuous_celebrity}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Obnoxiuous Celebrity</u></span>
                that not only loved 
                <span ng-show="formLib.$valid && showText"><u>{{word.dirty_task}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Dirty Task</u></span> 
                but did it 
                <span ng-show="formLib.$valid && showText"><u>{{word.huge_number}}</u></span>
                <span ng-hide="formLib.$valid && showText"><u>Huge Number</u></span>
                faster.
            </p>

            <input type="button" value="Clear" ng-click="showText=false; word={}" 
                   class="ph-button ph-btn-red" ng-show="formLib.$valid && showText"/>
        </section>
    </div>
    
    <script data-require="angular.js@1.3.10" data-semver="1.3.10" src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="js/script.js"></script>
</body>
</html>
